.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 4% 94%;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  background-color: lightgrey;
  padding: 2vh 2vw;
}

h1 {
  display: inline-block;
  margin: 1vh 0;
  font-size: 8vh;
  padding: 0 0 0 2%;
}

button {
  float: right;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 6vh;
  padding: 1vh 2vw;
  margin: 2vh 2vw 0 0;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 4vh;
}

.column {
  background-color: grey;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

.task {
  margin: 1vh;
  padding: 1vw;
  font-size: 4vh;
  background-color: white;
}
